html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer{
  background-color: #6c757d;
  height: 100px;
}


.footer div.arpen {
  width: 35vh;
}

.footer > div.cnj > img{
  width: 18vh;
}

main > .container {
	padding: 60px 15px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.page-title{
  padding-left: 5vh;
}

.mx-auto {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.mt-50 {
	margin-top: 50px;
}

.mt-1 {
 margin-top: 1vh;
}
.mt-2 {
 margin-top: 2vh;
}
.mb-50 {
	margin-bottom: 50px;
}
.w100 {
  width: 100%;
}

.font-bold {
	font-weight: 900;
}
.font-mEm {
	font-size: 1.5em;
}
.light-green {
	background-color: #e7f8f1;
}
.light-gray {
	background-color: #e9ecef;
}
.box-28 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box-58 {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.box-83 {
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.box-85 {
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
a {
	text-decoration: none;
}

.footer {
  bottom: 0;

}
.img-footer {
	width: 100%;
}
.img-footer {
	width: 100%;
}
.img-header {
	width: 150px;
	height: 100%;
}
.p-0 {
	padding: 0;
}
.p-10{
  padding: 10px;
}
.pl-50 {
	padding-left: 50px;
}
.pr-50 {
	padding-right: 50px;
}
.text-small {
	font-size: 0.9em;
}
