<template>
  <div id="app">
    <div class="flex-shrink-0">
      <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-light bg-light">
          <section class="navbar-brand mb-0 h1 mr-auto p-10 page-title">
            <div class="row">
              <small>Ofícios da</small>
            </div>
            <div class="row">
              <span style="font-size: 22px; font-weight: bold">Cidadania</span>
            </div>
          </section>
          <a href="#">
            <img
              src="./assets/img/logo_registro_civil.svg"
              class="img-fluid"
              width="160"
              alt="Registro Civil"
            />
          </a>
        </nav>
      </header>

      <section class="container mt-50">
        <div class="jumbotron">
          <h1>Bem vindo(a)!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <i>Aliter enim nosmet ipsos nosse non possumus.</i>
            Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum
            abducas licebit. Nos vero, inquit ille;
            <b>Si enim ad populum me vocas, eum.</b> Est, ut dicis, inquam.
            Nonne videmus quanta perturbatio rerum omnium consequatur, quanta
            confusio? Duo Reges: constructio interrete.
          </p>
        </div>
      </section>

      <!-- Begin page content -->
      <main role="main" class="flex-shrink-0 container">
        <!-- filters to table list -->
        <div class="row">
          <div class="col-sm-4 mt-1">
            <label for="ufs">Estado:</label>
            <select
              class="form-control"
              placeholder="Estado"
              id="ufs"
              name="ufs"
              v-model="selectedUf"
              @change="handleUfChange"
              data-role="select"
            >
              <option value="0">Selecione um estado</option>

              <option v-for="uf in ufs" :key="uf.uf" :value="uf.uf">
                {{ uf.nome }}
              </option>
            </select>
          </div>
          <div class="col-sm-4 mt-1">
            <label for="ufs">Cidade:</label>
            <select
              class="form-control"
              placeholder="Cidades"
              id="cidades"
              name="cidades"
              v-model="selectedCidade"
              @change="handleCidadeChange"
              data-role="select"
            >
              <option value="0">Selecione uma cidade</option>
              <option v-for="c in cidades" :key="c.id" :value="c.id">
                {{ c.nome }}
              </option>
            </select>
          </div>
          <div class="col-sm-4 mt-1">
            <label for="ufs">Busca:</label>
            <input
              type="search"
              class="form-control"
              name="filtro"
              id="filtro"
              placeholder="Digite o nome do cartório a ser pesquisado"
              v-model="cartorioFiltro"
            />
          </div>
          <div class="offset-sm-8 col-sm-4 mt-2">
            <label for="exibirSomenteConveniados">
              <input
                type="checkbox"
                class="w3-check"
                name="exibirSomenteConveniados"
                id="exibirSomenteConveniados"
                v-model="exibirSomenteConveniados"
              />
              Exibir apenas cartórios conveniados
            </label>
          </div>
        </div>

        <div class="alert alert-info" v-html="message" v-show="message"></div>

        <!-- cartorios table list -->
        <section class="mt-5 mb-50" v-if="filteredCartorios.length">
          <div class="table-responsive">
            <table class="table striped">
              <thead class="light-gray">
                <tr>
                  <th>CNJ</th>
                  <th>Nome</th>
                  <th>Oficial</th>
                  <th>CEP</th>
                  <th>Endereço</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="c in filteredCartorios" :key="c.id">
                  <td>{{ c.cnj }}</td>
                  <td>{{ c.nome }}</td>
                  <td>{{ c.oficial }}</td>
                  <td>{{ c.cep }}</td>
                  <td>{{ c.endereco }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <section class="mt-5 w100">
            <ul class="pagination justify-content-center">
              <li
                class="page-item"
                :class="{ disabled: currPage === 1 }"
                @click.prevent="setPage(currPage - 1)"
              >
                <a class="page-link">&#10094; Anterior</a>
              </li>
              <li
                class="page-item"
                v-for="n in totalPage"
                :key="n"
                :class="{ active: currPage === n }"
                @click.prevent="setPage(n)"
              >
                <a class="page-link" href="">{{ n }}</a>
              </li>
              <li
                class="page-item"
                :class="{ disabled: currPage === totalPage }"
                @click.prevent="setPage(currPage + 1)"
              >
                <a class="page-link" href="">Próximo &#10095; </a>
              </li>
            </ul>
          </section>
        </section>
        <section class="mt-5" v-else>
          <p class="card alert-info p-10 text-center">
            Nenhum registro encontrado.
          </p>
        </section>

        <!-- pagination table list -->
      </main>
    </div>
    <footer class="footer mt-auto d-flex justify-content-end p-10">
          <div class="p-3 arpen"><img class="img-fluid" src="./assets/img/arpen-br.svg"  alt=""></div>
          <div class="p-3 cnj"><img class="img-fluid" src="./assets/img/cnj-white.svg" alt=""></div>
    </footer>
  </div>
</template>

<script>
import CartorioApi from "./CartorioApi";
//import Topnav from './components/Topnav';

export default {
  name: "App",
  computed: {
    filteredCartorios() {
      // Copia a lista de cartorios
      let r = this.cartorios.slice(0);

      // Filtra por conveniados
      if (this.exibirSomenteConveniados) {
        r = r.filter((c) => c.flag_adesao_cidadania_rfb === "S");
      }

      // Filtra por nome
      if (this.cartorioFiltro.trim().length) {
        r = r.filter(
          (c) => c.nome.toLowerCase().indexOf(this.cartorioFiltro) >= 0
        );
      }

      // Ordena
      r.sort((c1, c2) => c1.nome.localeCompare(c2.nome));

      r = r.slice(this.pageStart, this.pageStart + this.countOfPage);

      return r;
    },
    pageStart() {
      return (this.currPage - 1) * this.countOfPage;
    },
    totalPage() {
      return Math.ceil(this.cartorios.length / this.countOfPage);
    },
  },
  data() {
    return {
      message: undefined,
      ufs: [],
      selectedUf: 0,
      cidades: [],
      selectedCidade: 0,
      cartorios: [],
      selectedCartorio: undefined,
      exibirSomenteConveniados: false,
      cartorioFiltro: "",
      countOfPage: 10,
      currPage: 1,
      filter_name: "",
    };
  },

  methods: {
    handleUfChange() {
      CartorioApi.getCidades(this.selectedUf)
        .then((cidades) => {
          this.cidades = cidades;
        })
        .catch((e) => {
          this.message = e.message;
        });
    },
    handleCidadeChange() {
      CartorioApi.getCartorios(this.selectedCidade)
        .then((cartorios) => {
          this.cartorios = cartorios;
          this.setPage(1);
        })
        .catch((e) => {
          this.message = e.message;
        });
    },
    setPage(idx) {
      if (idx <= 0 || idx > this.totalPage) {
        return;
      }
      this.currPage = idx;
    },
  },
  mounted() {
    CartorioApi.getUfs()
      .then((ufs) => {
        this.ufs = ufs;
      })
      .catch((e) => {
        this.message = e.message;
      });
  },
};
</script>

<style>
@import "./assets/css/style.css";
</style>
